<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Part1" data-toc-modified-id="Part1-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Part1</a></span></li><li><span><a href="#part2" data-toc-modified-id="part2-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>part2</a></span></li><li><span><a href="#part-3" data-toc-modified-id="part-3-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>part 3</a></span></li></ul></div>

# Importing Libraries

In [3]:
import pandas as pd
from bs4 import BeautifulSoup
import requests

## Part1

In [26]:
url='https://www.marketwatch.com/tools/screener/premarket'
page=requests.get(url)
soup=BeautifulSoup(page.text,'html.parser')

## part2

In [7]:
title=soup.find_all('h1',class_='title')
print(title)

[<h1 class="title">
<span class="label">Premarket Screener</span>
</h1>]

In [14]:
for i in soup.find_all('h1',claas_='title'):
     print(i)

## part 3

In [27]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

response = requests.get(url)
soup = BeautifulSoup(response.text, 'html.parser')

table = soup.find_all('div', class_='element element--table table--fixed screener-table')
column_headers = ['Symbol', 'Price', 'Volume', 'Change$', 'Change%']
data = []

for tr in soup.select('a'):
    tr.extract()

for tr in table[0].find_all('tr'):
    i = 0
    symbol = ''
    price = ''
    volume = ''
    change = ''
    change_percent = 0

    for td in tr.find_all('td'):
        i = i + 1

        if i == 1:
            symbol = td.text.replace('\n', '')
        if i == 3:
            price = td.text.replace('\n', '')
        if i == 4:
            volume = td.text.replace('\n', '')
        if i == 5:
            change = td.text.replace('\n', '')
        if i == 6:
            change_percent = float(td.text.replace('\n', '').replace('%', ''))

    if symbol != '':
        data.append({
            'Symbol': symbol,
            'Price': price,
            'Volume': volume,
            'Change$': change,
            'Change%': change_percent
        })

dataframe = pd.DataFrame(data)
dataframe.sort_values("Change%", axis=0, ascending=False, inplace=True, na_position='last')

print(dataframe)

  Symbol    Price   Volume Change$  Change%
0   LESL    $5.20       64    0.31     6.34
1    PEN  $262.87        6   12.51     5.00
2    BRX   $22.76        5    1.08     4.98
3      W   $63.34   38.65K    2.81     4.64
4   UHAL   $59.22        4    2.41     4.24
5    MCY   $29.16        1    1.11     3.96
6   SGEN  $213.81   701.8K    7.42     3.60
7   OPEN    $2.64  510.28K    0.09     3.53
8   HOLX   $72.43      707    2.37     3.38
9   YUMC   $56.89    1.29K    1.76     3.19

In [35]:
for j in range(3):
    for tr in table[j].find_all('tr'):
        i = 0
        symbol = ''
        price = ''
        volume = ''
        change = ''
        change_percent = 0

        for td in tr.find_all('td'):
            i = i + 1

            if i == 1:
                symbol = td.text.replace('\n', '')
            if i == 3:
                price = td.text.replace('\n', '')
            if i == 4:
                volume = td.text.replace('\n', '')
            if i == 5:
                change = td.text.replace('\n', '')
            if i == 6:
                change_percent = float(td.text.replace('\n', '').replace('%', ''))

        if symbol != '':
            data.append({
                'Symbol': symbol,
                'Price': price,
                'Volume': volume,
                'Change$': change,
                'Change%': change_percent
            })

dataframe = pd.DataFrame(data)
dataframe.sort_values("Change%", axis=0, ascending=False, inplace=True, na_position='last')

print(dataframe)

    Symbol   Price Volume Change$  Change%
0     LESL   $5.20     64    0.31     6.34
190   LESL   $5.20     64    0.31     6.34
90    LESL   $5.20     64    0.31     6.34
110   LESL   $5.20     64    0.31     6.34
150   LESL   $5.20     64    0.31     6.34
..     ...     ...    ...     ...      ...
20     FOX  $28.28     2K   -1.31    -4.43
120    FOX  $28.28     2K   -1.31    -4.43
160    FOX  $28.28     2K   -1.31    -4.43
100    FOX  $28.28     2K   -1.31    -4.43
200    FOX  $28.28     2K   -1.31    -4.43

[230 rows x 5 columns]

In [36]:
dataframe

    Symbol   Price Volume Change$  Change%
0     LESL   $5.20     64    0.31     6.34
190   LESL   $5.20     64    0.31     6.34
90    LESL   $5.20     64    0.31     6.34
110   LESL   $5.20     64    0.31     6.34
150   LESL   $5.20     64    0.31     6.34
..     ...     ...    ...     ...      ...
20     FOX  $28.28     2K   -1.31    -4.43
120    FOX  $28.28     2K   -1.31    -4.43
160    FOX  $28.28     2K   -1.31    -4.43
100    FOX  $28.28     2K   -1.31    -4.43
200    FOX  $28.28     2K   -1.31    -4.43

[230 rows x 5 columns]

# explanation of the code

 __1. Import necessary libraries:__
pandas is a library used for data manipulation and analysis.
requests is used for making HTTP requests to fetch web pages.
BeautifulSoup is used for parsing HTML content.


__2. Specify the URL to scrape:__

__3. Send an HTTP GET request to the URL:__


__4. Create a BeautifulSoup object for parsing the HTML:__


__5. Locate the HTML table of interest:__

table = soup.find_all('div', class_='element element--table table--fixed screener-table')
This line uses BeautifulSoup's find_all method to locate all div elements with the specified class, which corresponds to the table you want to scrape.

__6. Define column headers for the DataFrame:__

column_headers = ['Symbol', 'Price', 'Volume', 'Change$', 'Change%']
These are the column names you want for your DataFrame.

__7. Create an empty list to store data__
python
data = []
This list will be used to store dictionaries, where each dictionary represents a row of data.

__8. Remove unwanted 'a' elements from the HTML:__

for tr in soup.select('a')
    tr.extract()
This loop finds and removes any 'a' elements from the HTML, which may contain unwanted data.

__9. Loop through each 'tr' element in the table:__

python

for tr in table[0].find_all('tr'):
This loop iterates through each table row (<tr>) within the specified table.

__10. Initialize variables for each column:__

python
i = 0
symbol = ''
price = ''
volume = ''
change = ''
change_percent = 0
These variables will be used to temporarily store data for each row.

__11. Loop through each 'td' element within the row:__

python
Copy code
for td in tr.find_all('td'):
    i = i + 1
This nested loop iterates through each table cell (<td>) within the current row.

__12. Extract and store data based on the column index:__

python
Copy code
if i == 1:
    symbol = td.text.replace('\n', '')
if i == 3:
    price = td.text.replace('\n', '')
if i == 4:
    volume = td.text.replace('\n', '')
if i == 5:
    change = td.text.replace('\n', '')
if i == 6:
    change_percent = float(td.text.replace('\n', '').replace('%', ''))
Depending on the value of i, it assigns the cell's content to the appropriate variable after cleaning the data.

__13. Append the data to the data list as a dictionary:__

python
Copy code
if symbol != '':
    data.append({
        'Symbol': symbol,
        'Price': price,
        'Volume': volume,
        'Change$': change,
        'Change%': change_percent
    })
 This code block creates a dictionary for the current row of data and appends it to the data list if the symbol is not empty. It ensures that only rows with valid data are added to the list.

__14. Create a DataFrame from the collected data:__

python
Copy code
dataframe = pd.DataFrame(data)
This line converts the data list of dictionaries into a pandas DataFrame.

__15. Sort the DataFrame by the 'Change%' column in descending order:__

python
Copy code
dataframe.sort_values("Change%", axis=0, ascending=False, inplace=True, na_position='last')
It sorts the DataFrame based on the 'Change%' column, arranging the rows in descending order of change percentage.

Print the final DataFrame:

python
Copy code
print(dataframe)
Finally, the code prints the sorted DataFrame containing the scraped data.